{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "semi":"off",
    "comma-dangle":"off"
  }
}